<div class="container">
  <div class="row">
    <div class="col-6">

      <h2>Map Style</h2>
      <div *ngFor="let st of styles ">
        <button
          class="btn btn-outline-secondary w-50  m-1"
          (click)="mapStyles = st.style">
          {{st.title}}
        </button>

      </div>
    </div>

    <div class="col-6">
      <h2>Where you can find us</h2>

      <agm-map
        [latitude]="center.lat"
        [longitude]="center.lon"
        [zoom]="mapZoom"
        [mapTypeId]="'roadmap'"
        [styles]="mapStyles"


      >

        <agm-marker
          *ngFor="let dep of departments"
          [latitude]="dep.coordinates.lat"
          [longitude]="dep.coordinates.lon"


        >
          <agm-info-window>
            <h6>{{dep.title}}</h6>
          </agm-info-window>
        </agm-marker>

      </agm-map>

    </div>
  </div>
</div>
